.DS_Store
static/node_modules/
static/npm-debug.log*
static/yarn-debug.log*
static/yarn-error.log*

.buildpath
.settings/
.project
api/.env
api/*.patch
api/runtime/
api/.phpintel/
api/*.lock
api/.phpunit*



# Editor directories and files
.idea
.git
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
